/* AnswerSection.css */
.QA{
    border:1px solid #ccc;
    border-radius:6px;
    padding:10px;
    margin-top:80px;
    margin-bottom:15px;
    display:flex;
}

.star{
    height:20px;
    width:20px;
    margin-right:10px;
}
.answer-section {
    width:600px;
    padding: 20px;
    margin:Auto;
  }
  
  .answer-item {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  .answer-item h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .answers {
    padding: 10px;
  }
  
  .answer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .answer-user {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .comment-input {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .comment-input input {
    flex: 1;
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .comment-input button {
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .comment-input button:hover {
    background-color: #0056b3;
  }